# Ignore mac-made ds store files
.DS_Store
*/.DS_Store
**/.DS_Store

# Don't include the data
data/*

# Don't include the backup data (mostly created during the event)
backup_data

# Ignore the temporary scripts
scripts

# Ignore the mock stimuli
mock_stimuli

# Ignore the back up stimulus folder with wrong names
stimuli_backup

# Don't sync the temporary scripts
scripts/dont_delete.py
scripts/load_data.py
scripts/renaming_images.py

# All the temporary working files
temp
app/backup_app.py
app/failed_app.py

# Ignore the backup made from the utils
src/backup_utils.py

# Back up version of the ratings file
src/external/ratings_backup.tsv

# Backup of the data (while renaming filenames)
data_backup