# Ignore mac-made ds store files
.DS_Store
*/.DS_Store
**/.DS_Store

# Don't include the data
data/*

# Ignore the temporary scripts
scripts

# Ignore the mock stimuli
mock_stimuli

# Don't sync the temporary scripts
scripts/dont_delete.py
scripts/load_data.py